<!--speak to expert starts-->
<section class="expert">
<div class="container">
<div class="row">
	<div class="expert-head">
<h3>Speak to a hearing aid expert now</h3>
</div>
</div>
<div class="row">
	<div class="col-md-3 call-icon">
<img src="img/icon1.png"  alt="phone icon" class="img-fluid">	
	</div>
<div class="col-md-3 expert-ph ">

<h3>(844) 407-6687</h3>
<div class="hours">
<p class="ex-h">Hours of Operation<br>
	<span class="ex-w">Monday - Friday<br> 8:30am - 5:00pm.</span> <br>
	<span class="ex-w">Saturday and Sunday : Closed</span></p>
</div>
</div>
<div class="col-md-6 col-xs-12 expert-but">
	<h3>We take care of your hearing aid problems</h3>
	<div class="btsec">
	<a href="tel:844-407-6687" class="button button2 btn1">I would like to have a hearing test</a>
</div>
<div class="btsec1">
	<a href="#appointment" class="button button2 btn2">Schedule an Appointment Now</a>
</div>

</div>
</div>



</div>
</section>